__pycache__/
*.py[cod]
*.pyo
*.log
*.sqlite3
*.env
*.DS_Store

env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

db.sqlite3
media/
staticfiles/
local_settings.py

.vscode/
.idea/
*.swp
*.swo

Thumbs.db
.DS_Store
