{% extends 'main.html' %} {% block content %}
<h1>Labs</h1>
<table>
  <tr>
    <th>Lab</th>
    <th>Passing Mark</th>
    <th>Max Mark</th>
    <th>Deadline</th>
  </tr>
  {% for lab in labs %}
  <tr>
    <td>{{ lab.title }}</td>
    <td>{{ lab.passing_mark }}</td>
    <td>{{ lab.max_mark }}</td>
    <td>{{ lab.deadline }}</td>
    <td><a href="{% url 'update-lab' lab.id %}">Edit</a></td>
    <td><a href="{% url 'delete-lab' lab.id %}">Delete</a></td>
    <td><a href="{% url 'lab' lab.id %}">View</a></td>
    {% endfor %}
  </tr>
</table>
{% endblock content %}
