{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/user.css' %}" />
    <title>Редагування спроб</title>
</head>
<body>
<nav class="navbar">
    <a href="{% url 'home' %}" class="logo">
        <span class="logo-notes">КФС</span>
        <span class="logo-app">КУРС</span>
    </a>
    <div class="user-menu-wrapper">
        <div class="user-dropdown">
            <a href="{% url 'edit-account' %}"><span>Мій профіль</span></a>
            <a href="{% url 'logout' %}" class="logout"><span>Вийти</span></a>
        </div>
    </div>
</nav>

<div class="content-wrapper">
    <main class="main-settings">
        <h2 class="settings-header">
            Редагування спроб для:
            {{ student_profile.name|default:student_profile.username }}
        </h2>

        <section class="form-section">
            <form method="post">
                {% csrf_token %}
                <div class="form-grid">
                    {% for item in current_data %}
                        <div class="form-group">
                            <label for="id_attempts_{{ forloop.counter }}">
                                Кількість спроб для: {{ item.lab.title }}
                            </label>
                            <input
                                    type="number"
                                    id="id_attempts_{{ forloop.counter }}"
                                    name="attempts_{{ forloop.counter }}"
                                    min="0"
                                    value="{{ item.attempts }}"
                                    class="input"
                            />
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn-save">Зберегти спроби</button>
                <a href="{% url 'edit-account' %}" class="btn-small" style="margin-left: 12px;">Скасувати</a>
            </form>
        </section>
    </main>
</div>
</body>
</html>


