{% load static %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />
  </head>
  {% if messages %} {% for message in messages %}
  <div class="alert alert--{{ message.tags }}">
    <p class="alert__message">{{message}}</p>
    <button class="alert__close">x</button>
  </div>
  {% endfor %} {% endif %}
  <body>
    <section>
      {% for i in "x"|rjust:150 %}
      <span></span>
      {% endfor %}

      <div class="signin">
        <div class="content">
          {% if page == 'register' %}
          <h2>Реєстрація</h2>
          <form
            method="POST"
            action="{% url 'register' %}"
            style="width: 300px"
          >
            {% csrf_token %}
            <div class="form">
              {% for field in form %}
              <div class="inputBox">
                {{ field }}
                <i>{{ field.label }}</i>
                <!-- {% if field.help_text %}
                <small>{{ field.help_text }}</small>
                {% endif %} -->
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endfor %}
              <div class="links">
                <a href="">Вже маєте акаунт?</a>
                <a href="{% url 'login' %}">Увійти</a>
              </div>
              <div class="inputBox">
                <input type="submit" value="Зареєструватися" />
              </div>
            </div>
          </form>

          {% else %}
          <h2>Вхід</h2>
          <form action="{% url 'login' %}" method="POST" style="width: 300px">
            {% csrf_token %}
            <div class="form">
              <div class="inputBox">
                <input type="text" name="username" placeholder="" required />
                <i>Логін</i>
              </div>
              <div class="inputBox">
                <input
                  type="password"
                  name="password"
                  placeholder=""
                  required
                />
                <i>Пароль</i>
              </div>
              <div class="links">
                <a href="">Не маєте аккаунту?</a>
                <a href="{% url 'register' %}">Зареєструватися</a>
              </div>
              <div class="inputBox">
                <input type="submit" value="Увійти" />
              </div>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </section>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
</html>
