<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="assets/css/login.css" />
  </head>
  <body>
    <section>
      <span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span> <span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span> <span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span> <span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span> <span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span> <span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span> <span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span> <span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span> <span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span> <span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span> <span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span> <span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span> <span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span><span></span
      ><span></span><span></span><span></span><span></span>

      <div class="signin">
        <div class="content">
          <h2>Реєстрація</h2>
          <div class="form">
            <div class="inputBox">
              <input type="text" required />
              <i>Ім'я</i>
            </div>
            <div class="inputBox">
              <input type="text" required />
              <i>E-mail</i>
            </div>
            <div class="inputBox">
              <input type="password" required />
              <i>Пароль</i>
            </div>
            <div class="inputBox">
              <input type="password" required />
              <i>Підтвердження пароля</i>
            </div>
            <div class="links">
              <a href="#">Вже маєте акаунт?</a>
              <a href="login.html">Увійти</a>
            </div>
            <div class="inputBox">
              <input type="submit" value="Зареєструватися" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
